@import url(https://fonts.googleapis.com/css?family=Didact Gothic);

body {
  background-color: #ffe8d6;
  color: #283618;
  font-family: 'Didact Gothic', sans-serif;
  font-weight: 400px;
}

a:link {
  color: #7f5539;
}

a:visited {
  color: #7f5539;
}

a:hover {
  color: #b08968;
}

a:active {
  color: #7f5539;
}
